body {
    font-family: Arial,sans-serif;
    background-color: #080c15;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #2a436b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
}
button {
    padding: 10px 20px;
    background-color: #4dc4f7 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result {
    margin-top: 20px;
    background: #1f2834;
    padding: 15px;
    border-radius: 8px;
}